name: Publish
on:
  push:
    tags:
      - "v*"
permissions:
  # contents: write
  contents: write
jobs:
  publish:
    runs-on: ubuntu-latest
    container:
      image: rust:latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: Fix Git ownership in container
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - run: |
          git config --global user.name 'github-actions'
          git config --global user.email 'github-actions@github.com'
      - name: Extract version from tag
        id: version
        run: |
          TAG="${GITHUB_REF#refs/tags/}"
          echo "version=${TAG#v}" >> $GITHUB_OUTPUT
      - name: Cache cargo registry and build
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-
      - name: Setup Rust
        run: |
          rustup update stable
          cargo install cargo-release
      - name: Publish all
        # run: cargo release --workspace --no-tag "${{ steps.version.outputs.version }}" --execute
        run: cargo release --workspace --no-tag --no-push "${{ steps.version.outputs.version }}"
        # env:
        #   CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
      - name: Archive workspace
        run: |
          mkdir -p artifact
          cp -r . artifact/
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: release-test-${{ steps.version.outputs.version }}
          path: artifact
